<main class='particleContainer'>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{firstNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{secondNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <span class='particle'>{{thirdNumber}}</span>
    <article class='content'>
        <p>{{errorName}}: <strong class='text-danger'>{{firstNumber}}{{secondNumber}}{{thirdNumber}}</strong></p>
        <p style="font-size: 1.1rem">{{errorMessage}}</p>
        <form class="form mt-4" role="form" action="/login" method="get" autocomplete="off">
            <input class="btn btn-outline-dark" type="submit" value="Volver">
        </form>
    </article>
</main>