<nav class="navbar sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="d-flex">
            <a href="/index"><img class="ms-5" src="/images/icons/app_icon.png" alt="App icon" width="40" height="40"></a>
            <span class="ms-3 text-light" style="font-size: 1.5rem;">Coder Market - Backend</span>
        </div>
        <div>
            <span class="text-light">{{userData.username}}</span>
            <a href="/profile"><img class="mx-3" style="object-fit:cover;" src="{{userData.userAvatar}}" alt="profile picture"
                    width="40" height="40"></a>
            <a href="/api/carrito/{{userData.userCartId}}/productos"><img src="/images/icons/cart_icon.png" alt="cart icon" width="40"
                    height="40"></a>
            <button class="btn btn-danger me-5 ms-2" type="button" onclick="goTo('/logout')">Logout</button>
        </div>
    </div>
</nav>


<div class="d-flex flex-column mt-5 w-25 mx-auto">
    <h3 class="mb-3 align-self-center">Mi Carrito ({{userData.userCartId}})</h3>
</div>

<div class="d-flex flex-row flex-wrap justify-content-evenly mt-4 p-5">
    {{#each foundProducts}}
    <div class="card border-dark mb-4" style="width: 18rem;">
        <div class="card-header d-flex">
            <p class="mx-auto mb-0">{{nombre}}</p>
        </div>
        <div class="card-body text-dark d-flex flex-column">
            <img class="align-self-center" style="object-fit:contain; max-width: 16.5rem;" src="{{foto}}"
                alt="{{descripcion}}" height="200">
            <p class="card-text mt-2">• ${{precio}}</p>
            <p class="card-text">{{descripcion}}</p>
            <p class="align-self-center border border-2 rounded p-2 ">Cantidad: {{qty}}</p>
        </div>
        <div class="d-flex">
            <form class="w-100" role="form" action="/api/carrito/{{../userData.userCartId}}/productos/{{id}}?_method=DELETE"
                method="post" autocomplete="off">
                <button class="btn-dark w-100">Remover</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>

<form class="form mt-3" role="form" action="/checkout" method="get" autocomplete="off">
    <div class="form-group d-flex">
        <input class="btn btn-success my-3 mx-auto" type="submit" value="Finalizar Compra">
    </div>
</form>
<form class="form mt-3" role="form" action="/index" method="get" autocomplete="off">
    <div class="form-group d-flex">
        <input class="btn btn-outline-dark my-3 mx-auto" type="submit" value="Volver">
    </div>
</form>

<a href="/chat"><img class="chatFloatBtn" src="/images/icons/chat.png" alt="chat icon"></a>